<meta charset="UTF-8">
<title>Simple NodeJS Server</title>

<!-- CSS (load bootstrap from a CDN) -->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"> -->

