<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="icons/favicon.ico">
    <title>Simple WebApp Server</title>
</head>
<body>
    <div id="content">
        <!-- Start of Content -->
        <div id="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Menu I</a>
              <a class="nav-link" href="#">Menu II</a>
              <a class="nav-link" href="#">Menu III</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div id="text-sample">
        <h1>Welcome User!</h1>
    </div>
    <div id="cprgth">
        <footer>Copyrigth &copy;2020 Abraham</footer>
    </div>
    <!-- End of Content -->
      </div>
</body>
</html>